.boxes{
    text-align:center;
    margin:10px;
    margin-top:10px;
    background-color:#008080;
    overflow: hidden;
    height: 250px;
    max-height:30vh;
    box-shadow: 6px 12px 18px -6px rgba(0,0,0,0.3);
    border-radius: 10px 10px 10px 10px;
}
.grids{
    width:50%;
    margin:auto;
}
.text{
    text-align:start;
    font-size: 25px;

}
@media (max-width:1000px){
    .boxes{
        margin:10px;
        margin-top:19px;
        background-color:#008080;
        overflow: hidden;
        height:400px;
        max-height:40vh;
        box-shadow: 6px 12px 18px -6px rgba(0,0,0,0.3);
        border-radius: 10px 10px 10px 10px;
    }
    .grids{
        width:100%;
        margin:auto;
    }
        .text{
            text-align:start;
            font-size: 60px;
            font-family:"helvetica";

        }
}